<div class="title">
<h2> Tasks </h2>
</div>

<div>
<ul>
  <% @tasks.each do |task| %>
    <li>
    <% if task.completed == true %>
    <%= "✅" %>
    <%= link_to task.title, task_path(task) %></li>
    <% end %>
  <% end %>
</ul>

</div>

<div>
 <li><%= link_to "Create a new task", new_path %></li>
</div>
